.selected {
    display: block;
    text-align: left;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
}

body {
    min-width:357px;
    overflow-x:hidden;
    background-color: white;
    opacity: 0.8;
}

.snip-header {
    display: block;
    opacity: 0.9;
    padding: 2px;
}

.snip-drive-container {
    padding: 0px;
}

#snip-content{
}